@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;0,700;1,300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

button {
    border-style: none;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

#root{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.textInput {
    width: 700px;
    height: 100px;
    border-radius: 10px 0px 0px 10px;
    font-size: 30px;
    padding: 0px 15px;
    border: 2px solid black;
}

.submitButton {
    height: 106px;
    padding: 1px 15px;
    border-radius: 0px 10px 10px 0px;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    border: 2px solid black;
}

.nav:hover{
    background-color: #333333;
}

.main {

    padding-top: 50px;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;

}

.buttonPanel {
    height: 100%;
    width: 33%;
    display: inline-block;
    cursor: pointer;
    font-size: 50px;
}

.black {
    background-color: black;
}

.pink {
    background-color: #FFAEBC;
}
.blue {
    background-color: #A0E7E5;
}
.green {
    background-color: #B4F8C8;
}

.buttonPanel.pink:hover {
    background-color: #f09caa;
}
.buttonPanel.blue:hover {
    background-color: #87ccca;
}
.buttonPanel.green:hover {
    background-color: #9cd9ae;
}

.poster {
    display: inline-block;
}

.movieInfo {
    display: inline-block;
    width: 40%;
    text-align: left;
    vertical-align: top;
    margin-left: 50px;
}

.cardContainer {
    background-color: white;
    border-radius: 10px;
    margin: 40px 80px;
    padding-top: 70px;
    text-align: center;
    vertical-align: middle;
    height: 70%;
    position: relative;
}

.emptyCard {
    width: 30%;
    position: absolute;
    top: 40%;
    left: 35%;
}

.swipe {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    cursor: pointer;
}

.swipe:hover {
    background-color: #e6e6e6;
}

.swipeLeft {
    color: red;
    left: 35%;
}

.swipeRight {
    color: green;
    right: 35%;
}

.loginPopup {
    position: absolute;
    background-color: white;
    left: 25%;
    top: 25%;
    width:50%;
    height: 30%;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
}

.usernameInput {
    margin-top: 50px;
}

.chooseFriends {
    margin-top: 20px;
}

.friendList {
    margin: 10px;
}

.friend {
    background-color: #e6e6e6;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.miniPoster {
    display: inline-block;
    vertical-align: top;
    height: 100px;
}

.miniMovieInfo {
    display: inline-block;
    width: 70%;
    text-align: left;
    vertical-align: top;
    margin-left: 50px;
}

.miniMovieInfo h4 {
    margin-top: 0px;
}

.movie {
    margin-top: 30px;
}

.movieList h2 {
    text-align: left;
    margin-left: 11%;
}

.movieList {
    padding-bottom: 40px;
}